.header {
    background-image: url("./img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 210px;
    position: relative;

    &_top {
        width: 100%;
        max-width: 1111px;
        margin: 0 auto;
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_bottom {
        width: 100%;
        max-width: 1111px;
        margin: 0 auto;
        margin-top: 121px;

        &--subtitle {
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: $white;
            margin-bottom: 22px;
        }

        &--title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 60px;
            line-height: 74px;
            letter-spacing: 0px;
            color: $white;
            margin-bottom: 24px;
            width: 616px;
        }

        &--text {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            color: $white;
            margin-bottom: 45px;
            width: 616px;
        }

        &--link {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            text-decoration: none;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            color: #D4D6D4;
            transition: color 0.3s ease;

            &:hover {
                color: #FFD723;
            }
        }
    }

    &_sponsors {
        box-shadow: 50px 50px 100px 0px #00000025;
        width: 100%;
        max-width: 1276px;
        border-radius: 2px;
        margin-left: auto;
        background-color: #FAFAFA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 166px 54px 65px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -113px;
        margin-left: auto;
        z-index: 2;
    }
}

.menu {
    display: none;
}

.menu.active {
    display: block;
}