.whatWeDo {
    width: 100%;
    max-width: 1109px;
    margin: 0 auto;
    padding-bottom: 150px;
    border-bottom: 1px solid #21384218;
    display: flex;
    justify-content: space-between;
    align-items: end;

    &_info {
        width: 100%;
        max-width: 475px;
        margin-bottom: 34px;

        &--subtitle {
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #4D533CE5;
        }

        &--title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0px;
            color: #4D533C;
            margin-top: 29px;
            margin-bottom: 35px;
            width: 400px; 

            & span {
                background-color: #FFD7231A;
                padding: 0 5px;
            }
        }

        &--text {
            font-family: Poppins;
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #21384299;
            margin-bottom: 42px;
        }

        &--link {
            font-family: FontAwesome;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            color: #D4D6D4;
        }
    }

    &_person {
        width: 100%;
        max-width: 474px;
        box-shadow: 0px 100px 100px 0px #00000025;
        background-color: #FFFFFF;
        padding-top: 224px;
        padding-left: 40px;
        padding-right: 8px;
        padding-bottom: 60px;

        &--text {
            font-family: Poppins;
            font-weight: 400;
            font-style: italic;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0px;
            color: #4D533C;
            margin-bottom: 50px;
        }

        &--container {
            display: flex;
            align-items: center;
            gap: 30px;

            & img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                box-shadow: 20px 25px 43px 0px #0000002E;
            }

            &--men {
                &--name {
                    font-family: Poppins;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: #4D533C;
                    margin-bottom: 6px;
                }

                &--position {
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: #152934;
                }
            }
        }
    }
}

.coments {
    padding-top: 150px;

    &_container {
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 133px;
        margin-bottom: 104px;

        &--title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            letter-spacing: 0px;
            color: #4D533C;
            width: 335px;
        }

        &--text {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #21384299;
            width: 518px;
        }
    }
}