.whatWeDo {
    width: 100%;
    max-width: 1109px;
    margin: 0 auto;
    margin-top: 244px;
    padding-bottom: 150px;
    border-bottom: 1px solid #21384218;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_info {
        width: 100%;
        max-width: 475px;

        &--subtitle {
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #4D533CE5;
        }

        &--title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0px;
            color: #4D533C;
            margin-top: 29px;
            margin-bottom: 35px;

            &span {
                background-color: #FFD7231A;
            }
        }

        &--text {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #21384299;
            margin-bottom: 42px;
        }

        &--link {
            font-family: FontAwesome;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0px;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            color: #D4D6D4;
        }
    }
}